.static-table {
    border: 1px solid black;
    overflow-x: auto
}

.buttons {
    display: flex;
    margin-left: 0px;
    margin-right: 0px;
}

.tree-button {
    border-radius: 0px;
    width: 100%;
    border-bottom: solid 1px black;
}